.highlited-container {
  background-color: var(--primary-color);
  padding: 5px 20px;
  width: fit-content;
  position: absolute;
  margin-top: 40vh;
  margin-right: 50%;
  right: 0;
}

.highlited-text {
  color: var(--secondary-color);
  font-family: 'RobotoMono';
  font-weight: 600;
  background-color: transparent;
  font-size: calc(50px + 1vmin);
}
