/* :root {
  --primairy-color: #06cb79;
  --secondary-color: #162632;
} */

* {
  padding: 0;
  margin: 0;
  /* background-color: var(--secondary-color); */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
